.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.sqlite
*.sqlite3
*.sqlite3-*
*.db
*.zip
*.tar
*.tar.gz

.git/
.gitignore
processed_uids.txt
test_suppressions.csv
tests/__pycache__/
